/* can be configured in tailwind.config.js */
.group:hover .group-hover\:block {
  display: block;


}

.hover\:w-64:hover {
  width: 50%;

}


/* NO NEED THIS CSS - just for custom scrollbar which can also be configured in tailwind.config.js*/
::-webkit-scrollbar {
  width: 2px;

}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.099);
  border: 0px none #ffffff;
  border-radius: 50px;

}

::-webkit-scrollbar-track {
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}